@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
  color: #0052f1;
  background-color: #fafaf4;
  font-family: "LarsseitRegular";
}

.cf::after {
  clear: both;
  content: "";
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

section {
  padding: 2rem 0;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  section {
    padding: 1rem 0;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  height: auto;
  position: relative;
  padding: 2rem 0rem;
  margin: 0 auto;
}

@font-face {
  font-family: "PitchSansBold";
  src: url("fonts/pitch-sans-bold.woff2") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "LarsseitRegular";
  src: url("fonts/LarsseitRegular/font.woff2") format("woff2"), url("fonts/LarsseitRegular/font.woff") format("woff");
}
@font-face {
  font-family: "LarsseitMedium";
  src: url("fonts/LarsseitMedium/font.woff2") format("woff2"), url("fonts/LarsseitMedium/font.woff") format("woff");
}
@font-face {
  font-family: "LarsseitBold";
  src: url("fonts/LarsseitBold/font.woff2") format("woff2"), url("fonts/LarsseitBold/font.woff") format("woff");
}
body, p, ul, ol, section, div {
  font-family: "LarsseitRegular";
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  color: #0052f1;
}

a {
  font-family: "LarsseitRegular";
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #231f20;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  font-family: "LarsseitRegular";
  font-size: 18px;
  color: #0052f1;
  letter-spacing: 0.75px;
}
@media (max-width: 1023px) {
  p {
    font-size: 20px;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li, ol li {
  font-family: "LarsseitRegular";
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.75px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LarsseitMedium";
  color: #0052f1;
}

.section-title {
  color: blue;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: 1rem auto 2rem;
  font-family: "LarsseitRegular";
}

h1 {
  font-size: 2.333rem;
  margin: 0rem auto;
  line-height: 1.25;
  font-weight: 400;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 2.75rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.777rem;
  margin: 0.25rem auto 0.5rem;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 2.25rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.25rem;
  margin: 1rem auto;
  font-weight: normal;
}
@media (max-width: 1023px) {
  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 2rem;
  margin: 1rem auto;
  font-weight: bold;
  line-height: 1;
}
@media (max-width: 1023px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 2rem;
  margin: 1rem auto;
}
@media (max-width: 1023px) {
  h5 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 2rem;
  margin: 1rem auto;
}
@media (max-width: 1023px) {
  h6 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h6 {
    font-size: 1.5rem;
  }
}

footer {
  padding: 1rem 0;
  height: auto;
}
footer .container {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 4rem);
}
footer .container .logo-container {
  font-size: 1.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #231f20;
  font-family: "PitchSansBold";
  line-height: 1.25;
}
footer .container .logo-container .year {
  font-weight: bold;
  font-size: 1.85rem;
  line-height: 1.25;
}
footer .container .logo-container .location {
  font-weight: bold;
  font-size: 1.85rem;
  line-height: 1.25;
}
footer .container .links-container {
  font-size: 2.5rem;
}
footer .container .links-container ul {
  display: flex;
  flex-direction: column;
}
footer .container .links-container ul li {
  padding: 0 1rem;
}
footer .container .links-container ul li a {
  color: blue;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: underline;
}
footer .container .links-container ul li a:after {
  content: "→";
  right: 0;
  padding-right: 15px;
  font-size: 1.5rem;
}

header {
  padding: 0;
  margin: 0;
  background-color: #fafaf4;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 2rem;
  width: calc(100% - 4rem);
}
@media (max-width: 1023px) {
  header .container {
    max-width: 720px;
  }
}
header .logo-container {
  font-weight: 300;
  font-size: 1.85rem;
  line-height: 1.25;
  color: #0052f1;
  font-family: "LarsseitRegular";
}
header .logo-container a {
  text-transform: capitalize;
}
header .logo-container a:hover {
  text-decoration: none;
}
header .logo-container span.logo {
  text-transform: uppercase;
  font-size: 2rem;
  color: #231f20;
  font-family: "PitchSansBold";
}
header .logo-container.short span.logo {
  color: #0052f1;
}
header .logo-container span.special1 {
  position: relative;
  text-transform: lowercase;
  border-bottom: 1px solid #00ff90;
  color: #00ff90;
}
header .logo-container span.special1:hover .special1-reveal {
  display: block;
}
header .logo-container .special1-reveal {
  display: none;
  height: 500px;
  width: 425px;
  top: 50px;
  left: 25px;
  position: absolute;
  z-index: 9999;
}
header .logo-container .special1-reveal img {
  width: 100%;
  height: auto;
}
header .logo-container span.special2 {
  position: relative;
  text-transform: lowercase;
  border-bottom: 1px solid #f394b4;
  color: #f394b4;
}
header .logo-container span.special2:hover .special2-reveal {
  display: block;
}
header .logo-container .special2-reveal {
  display: none;
  height: 500px;
  width: 425px;
  top: 50px;
  left: 25px;
  position: absolute;
  z-index: 9999;
}
header .logo-container .special2-reveal img {
  width: 100%;
  height: auto;
}
header .main-menu-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header .main-menu-container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
header .main-menu-container ul li {
  margin: 0 1rem;
}
header .main-menu-container ul li a {
  text-decoration: none;
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #0052f1;
  font-family: "LarsseitRegular";
}
header .main-menu-container ul li a:hover {
  border-bottom: 3px solid #0052f1;
}
header .main-menu-container .dark-mode-button {
  position: relative;
}
header .main-menu-container .dark-mode-button img {
  width: 100%;
  max-width: 30px;
  height: auto;
  padding: 5px 1rem 0;
}

a {
  color: #231f20;
  text-decoration: none;
}
a:hover {
  color: #231f20;
}

a.btn {
  background-color: #0052f1;
  border: 3px solid #0052f1;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  white-space: nowrap;
  -webkit-text-stroke: 0.25px white;
  cursor: pointer;
  transition: all 250ms ease;
}
@media (max-width: 1023px) {
  a.btn {
    padding: 0.5rem 2.5rem;
    font-size: 18px;
  }
}
a.btn:hover {
  background-color: white;
  color: #0052f1;
  -webkit-text-stroke: 0.5px #231f20;
}
a.btn.arrow:hover:after {
  color: #0052f1;
}
a.btn.arrow:after {
  content: "→";
  right: 0;
  padding-left: 15px;
  font-size: 2.5rem;
}

.btn-holder {
  text-align: center;
  margin: 5rem auto 2rem;
}

section.flex--hero-banner .container .text-container {
  border: 4px solid black;
  max-width: 640px;
}
section.flex--hero-banner .container .text-container h1.hero {
  font-size: 3.5rem;
}
section.flex--hero-banner .container .text-container p {
  font-size: 2rem;
  font-style: italic;
}

section.home--sandbox .featured-wrapper img {
  display: block;
  margin: 0 auto;
  height: auto;
}

section.home--portfolio .portfolio-wrapper {
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.home--portfolio .portfolio-wrapper .portfolio-item {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(1) {
  padding: 0 4rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(2) {
  padding: 4rem 0;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(3) {
  padding: 0 4rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(4) {
  padding: 0rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item img {
  width: 100%;
}
section.home--portfolio .portfolio-wrapper .portfolio-item div.caption {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  font-family: "LarsseitMedium";
}

section.home--logos img {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  section.home--logos .desktop {
    display: block;
  }
}
@media (max-width: 1023px) {
  section.home--logos .desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  section.home--logos .mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  section.home--logos .mobile {
    display: block;
  }
}

section.home--mission {
  padding: 4rem 2rem;
}
section.home--mission .text-container {
  max-width: 1080px;
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

section.about-us .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  width: calc(85% - 4rem);
}
section.about-us .col-1 {
  width: 55%;
}
section.about-us .col-1 p {
  font-size: 2rem;
  line-height: 1.25;
}
section.about-us .col-2 {
  width: 35%;
}
section.about-us .col-2 p {
  font-size: 2rem;
}
section.about-us .col-2 ul {
  margin: 0;
  padding: 0;
}
section.about-us .col-2 ul li {
  line-height: 1.25;
  position: relative;
  font-size: 2rem;
}
section.about-us .col-2 ul li:before {
  content: "→";
  left: 0;
  padding-right: 15px;
  font-size: 1.75rem;
}

section.home--sandbox-simple .featured-wrapper {
  border: 1px dotted #CCC;
  padding: 2rem;
  width: calc(75% - 4rem);
  margin: 0 auto;
  text-align: center;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.home--sandbox-simple .featured-wrapper img {
  display: block;
  margin: 0 auto;
  height: auto;
}

section.single-post {
  height: auto;
  padding: 4rem 0 16rem;
  margin: 0 auto;
}
section.single-post .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  width: calc(100% - 4rem);
}
section.single-post .container .portfolio-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}
section.single-post .container .portfolio-container img {
  padding: 2rem 0;
  width: 100%;
  height: auto;
}
section.single-post .container .post-content {
  width: 30%;
}
section.single-post .container .post-content h1.post-title {
  font-size: 2.25rem;
  line-height: 1.25;
  font-family: "PitchSansBold";
}
section.single-post .container .post-content p {
  font-size: 1.15em;
  line-height: 1.25;
}

/*# sourceMappingURL=style.css.map */
