@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
  color: blue;
  background-color: #fafaf4;
}

.cf::after {
  clear: both;
  content: "";
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

section {
  padding: 4rem 0;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  section {
    padding: 1rem 0;
  }
}

.container {
  width: 100%;
  max-width: 1260px;
  height: auto;
  position: relative;
  padding: 2rem 0rem;
  margin: 0 auto;
  border: 2px dotted red;
}

body, p, ul, ol, section, div {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  color: #0052f1;
}

a {
  font-family: "franklin-gothic-urw", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #231f20;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  font-size: 18px;
  font-family: "franklin-gothic-urw", sans-serif;
  color: #0052f1;
  font-weight: 300;
  letter-spacing: 0.75px;
}
@media (max-width: 1023px) {
  p {
    font-size: 20px;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li, ol li {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.75px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "franklin-gothic-urw", sans-serif;
  color: #0052f1;
}

.section-title {
  color: blue;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  display: block;
}

h1 {
  font-size: 2.333rem;
  margin: 0rem auto;
  line-height: 1.25;
  font-weight: 400;
}
@media (max-width: 1023px) {
  h1 {
    font-size: 2.75rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.777rem;
  margin: 0.25rem auto 0.5rem;
}
@media (max-width: 1023px) {
  h2 {
    font-size: 2.25rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.25rem;
  margin: 1rem auto;
  font-weight: normal;
}
@media (max-width: 1023px) {
  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 2rem;
  margin: 1rem auto;
  font-weight: bold;
  line-height: 1;
}
@media (max-width: 1023px) {
  h4 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 2rem;
  margin: 1rem auto;
}
@media (max-width: 1023px) {
  h5 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 2rem;
  margin: 1rem auto;
}
@media (max-width: 1023px) {
  h6 {
    font-size: 1.75rem;
  }
}
@media (max-width: 767px) {
  h6 {
    font-size: 1.5rem;
  }
}

footer {
  padding: 1rem 0;
  height: auto;
}
footer .container {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container .logo-container {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
footer .container .logo-container .year {
  font-weight: bold;
}
footer .container .logo-container .location {
  font-weight: bold;
}
footer .container .links-container {
  font-size: 2.5rem;
}
footer .container .links-container ul {
  display: flex;
  flex-direction: column;
}
footer .container .links-container ul li {
  padding: 0 1rem;
}
footer .container .links-container ul li a {
  color: blue;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: underline;
}
footer .container .links-container ul li a:after {
  content: "→";
  right: 0;
  padding-right: 15px;
  font-size: 1.5rem;
}

header {
  padding: 0;
  margin: 0;
  background-color: #fafaf4;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (max-width: 1023px) {
  header .container {
    max-width: 720px;
  }
}
header .logo-container {
  position: relative;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.25;
  color: #0052f1;
}
header .logo-container a {
  font-weight: 500;
  text-transform: capitalize;
  color: #0052f1;
}
header .logo-container a:hover {
  text-decoration: none;
  border-bottom: 2px solid #0052f1;
}
header .logo-container span.logo {
  font-weight: 500;
  text-transform: uppercase;
  color: #231f20;
}
header .logo-container span.special1 {
  font-weight: 800;
  text-transform: lowercase;
  font-style: italic;
  border-bottom: 1px solid lime;
  color: #00ff90;
}
header .logo-container span.special2 {
  font-weight: 800;
  text-transform: lowercase;
  font-style: italic;
  border-bottom: 1px solid pink;
  color: #f394b4;
}
header .logo-container .special1-reveal {
  display: none;
  border: 2px dotted blue;
  height: 275px;
  width: 200px;
  position: absolute;
}
header .logo-container .special1-reveal {
  display: none;
  border: 2px dotted blue;
  height: 275px;
  width: 200px;
  position: absolute;
}
header .main-menu-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
header .main-menu-container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
header .main-menu-container ul li {
  margin: 0 1rem;
}
header .main-menu-container ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #0052f1;
}
header .main-menu-container ul li a:hover {
  border-bottom: 3px solid #0052f1;
}
header .main-menu-container .dark-mode-button {
  position: relative;
}
header .main-menu-container .dark-mode-button img {
  width: 100%;
  max-width: 30px;
  height: auto;
  padding: 5px 1rem 0;
}

.gform_body {
  margin: 2.5rem auto;
  max-width: 600px;
}
.gform_body .gfield label {
  letter-spacing: 1px;
  color: white;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important;
  margin-left: 2.65rem;
}
.gform_body .gfield input {
  color: white !important;
  padding: 1.25rem 2rem;
}
.gform_body .gfield input[type=text], .gform_body .gfield input[type=tel],
.gform_body .gfield input[type=email], .gform_body .gfield textarea {
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid white;
  color: white !important;
}
.gform_body .gfield legend {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gform_wrapper.gravity-theme .gfield input.large, .gform_wrapper.gravity-theme .gfield select.large {
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid white;
  letter-spacing: 1px;
  color: white;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400 !important;
  font-size: 20px;
}

.gform_wrapper.gravity-theme .gfield textarea {
  letter-spacing: 1px;
  color: white !important;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400 !important;
  font-size: 20px;
  padding: 1rem 2.5rem 0.75rem 2.5rem;
}

.gform_wrapper.gravity-theme .gfield input.large, .gform_wrapper.gravity-theme .gfield select.large {
  letter-spacing: 1px;
  color: white;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400 !important;
  padding: 1rem 2.5rem 0.75rem 2.5rem;
  line-height: 1;
}

#gform_wrapper_1 .gform_fields .gfield input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 1px;
  color: white;
  font-size: 1.25rem;
}

#gform_wrapper_1 .gform_fields .gfield input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

#gform_wrapper_1 .gform_fields .gfield input:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

#gform_wrapper_1 .gform_fields .gfield input:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

.gform_footer input.button, .gform_footer input[type=submit], .gform_page_footer input.button, .gform_page_footer input[type=submit] {
  background-color: white;
  padding: 0.5rem 3rem;
  border-radius: 25px;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 20px;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  white-space: nowrap;
  margin: 0 auto;
}
.gform_footer input.button:hover, .gform_footer input[type=submit]:hover, .gform_page_footer input.button:hover, .gform_page_footer input[type=submit]:hover {
  -webkit-text-stroke: 0.5px white;
  color: white;
  border-color: white;
}

a {
  color: #231f20;
  text-decoration: none;
}
a:hover {
  color: #231f20;
}

a.btn {
  background-color: #0052f1;
  border: 3px solid #0052f1;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  white-space: nowrap;
  -webkit-text-stroke: 0.25px white;
  cursor: pointer;
  transition: all 250ms ease;
}
@media (max-width: 1023px) {
  a.btn {
    padding: 0.5rem 2.5rem;
    font-size: 18px;
  }
}
a.btn:hover {
  background-color: white;
  color: #0052f1;
  -webkit-text-stroke: 0.5px #231f20;
}
a.btn.arrow:hover:after {
  color: #0052f1;
}
a.btn.arrow:after {
  content: "→";
  right: 0;
  padding-left: 15px;
  font-size: 2.5rem;
}

.btn-holder {
  text-align: center;
  margin: 5rem auto 2rem;
}

section.flex--hero-banner .container .text-container {
  border: 4px solid black;
  max-width: 640px;
}
section.flex--hero-banner .container .text-container h1.hero {
  font-size: 3.5rem;
}
section.flex--hero-banner .container .text-container p {
  font-size: 2rem;
  font-style: italic;
}

section.home--sandbox .featured-wrapper img {
  display: block;
  margin: 0 auto;
  height: auto;
}

section.home--portfolio .portfolio-wrapper {
  border: 2px dashed #CCC;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.home--portfolio .portfolio-wrapper .portfolio-item {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px dashed #CCC;
  margin-bottom: 5rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(1) {
  padding: 0 4rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(2) {
  padding: 4rem 0;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(3) {
  padding: 0 4rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item:nth-of-type(4) {
  padding: 0rem;
}
section.home--portfolio .portfolio-wrapper .portfolio-item img {
  width: 100%;
}
section.home--portfolio .portfolio-wrapper .portfolio-item div.caption {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}

section.home--logos img {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  section.home--logos .desktop {
    display: block;
    border: 2px dashed purple;
  }
}
@media (max-width: 1023px) {
  section.home--logos .desktop {
    display: none;
  }
}
@media (min-width: 1024px) {
  section.home--logos .mobile {
    display: none;
  }
}
@media (max-width: 1023px) {
  section.home--logos .mobile {
    display: block;
  }
}

section.home--mission {
  padding: 4rem 2rem;
}
section.home--mission .text-container {
  max-width: 1080px;
  margin: 0 auto;
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

section.about-us .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
section.about-us .col-1 {
  width: 60%;
}
section.about-us .col-1 p {
  font-size: 2.25rem;
  line-height: 1.5;
}
section.about-us .col-2 {
  width: 30%;
}
section.about-us .col-2 p {
  font-size: 2.5rem;
}
section.about-us .col-2 ul {
  margin: 0;
  padding: 0;
}
section.about-us .col-2 ul li {
  line-height: 1.2;
  position: relative;
  font-size: 2.5rem;
}
section.about-us .col-2 ul li:before {
  content: "→";
  left: 0;
  padding-right: 15px;
  font-size: 2.5rem;
}

section.single-post {
  height: auto;
  padding: 8rem 0 2rem;
  margin: 0 auto;
}
section.single-post .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
section.single-post .container .portfolio-container {
  width: 63%;
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
}
section.single-post .container .portfolio-container img {
  padding: 2rem 0;
  width: 100%;
  height: auto;
}
section.single-post .container .post-content {
  width: 33%;
  border: 1px dotted blue;
}
section.single-post .container .post-content h1.post-title {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 600;
}
section.single-post .container .post-content p {
  font-size: 1.1em;
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
