section.home--sandbox {
  .featured-wrapper {
    // border: 1px dotted #CCC;
    img {
      display: block;
      margin: 0 auto;
      height: auto;
    }
  }
}


section.home--portfolio {
  .portfolio-wrapper {
    padding: 2rem 0;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .portfolio-item {
      width: 100%;
      max-width: 500px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 5rem;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
      }

      &:nth-of-type(1) {
        padding: 0 4rem;
      }
      &:nth-of-type(2) {
        padding: 4rem 0;
      }
      &:nth-of-type(3) {
        padding: 0 4rem;
      }
      &:nth-of-type(4) {
        padding: 0rem;
      }

      img {
        width: 100%;
      }

      div.caption {
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        font-family: "LarsseitMedium";
      }
    }
  }
}


section.home--logos {
  img {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
  }
  .desktop {
    @include media ('>=desktop') {
      display: block;
    }
    @include media ('<desktop') {
      display: none;
    }
  }
  .mobile {
    @include media ('>=desktop') {
      display: none;
    }
    @include media ('<desktop') {
      display: block;
    }
  }
}


section.home--mission {
  padding: 4rem 2rem;
 .text-container {
    max-width: 1080px;
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
}


section.about-us {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    width: calc(85% - 4rem);
  }

  .col-1 {
    width: 55%;
    p {
      font-size: 2rem;
      line-height: 1.25;
    }
  }

  .col-2 {
    width: 35%;
    p {
      font-size: 2rem;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        line-height: 1.25;
        position: relative;
        font-size: 2rem;
        &:before {
          content: "→";
          left: 0;
          padding-right: 15px;
          font-size: 1.75rem;
        }
      }
    }
  }
}

section.home--sandbox-simple {
  .featured-wrapper {
    border: 1px dotted #CCC;
    padding: 2rem;
    width: calc(75% - 4rem);
    margin: 0 auto;
    text-align: center;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      margin: 0 auto;
      height: auto;
    }
  }
}
