section.home--sandbox {
    /* border-top: 15px dashed pink; */
    margin-top: 1rem;

    .featured-wrapper {
        img {
            margin: 0 auto;
            height: auto;
            max-width: calc(100% - 4rem);

            @include media ('>tablet') {
                display: block;
            }

            @include media ('<=tablet') {
                display: none;
            }
        }
        .mobile {
            @include media ('>tablet') {
                display: none;
            }

            @include media ('<=tablet') {
                display: block;
            }
        }
    }
}


section.home--portfolio {
    .portfolio-wrapper {
        padding: 2rem 0;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1080px;

        @include media ('<desktop') {
            max-width: 720px;
        }

        @include media ('<tablet') {
            max-width: 540px;
            justify-content: center;
        }

        .portfolio-item {
            width: 100%;
            max-width: 500px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 5rem;

            @include media ('<=desktop') {
                max-width: 350px;
            }

            @include media ('<tablet') {
                max-width: none;
                padding: 0 1rem;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 0.25rem;
            }

            img {
                width: 100%;
            }

            div.caption {
                font-size: 1rem;
                font-weight: 400;
                text-align: center;
                font-family: "PitchSansBold";
            }
        }
    }
}


section.home--logos {
    img {
        display: block;
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
    }

    .desktop {
        @include media ('>=desktop') {
            display: block;
        }

        @include media ('<desktop') {
            display: none;
        }
    }

    .mobile {
        @include media ('>=desktop') {
            display: none;
        }

        @include media ('<desktop') {
            display: block;
            max-width: 680px;
        }

        @include media ('<tablet') {
            max-width: none;
            width: 90%;
            padding: 0 1rem;
        }
    }
}

section.about-us {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        width: calc(85% - 4rem);

        @include media ('<tablet') {
            width: calc(100% - 4rem);
        }

        @include media ('<tablet') {
            display: block;
        }
    }

    text-align: center;

    .col-1 {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;

        @include media ('<tablet') {
            width: 100%;
        }

        p {
            font-size: 2.25rem;
            line-height: 1.25;

            @include media ('<desktop') {
                font-size: 2rem;
            }

            @include media ('<tablet') {
                font-size: 1.5rem;
            }
        }
    }

    .col-2 {
        width: 100%;

        @include media ('<tablet') {
            width: 100%;
        }

        p {
            font-size: 2.25rem;

            @include media ('<desktop') {
                font-size: 2rem;
            }

            @include media ('<tablet') {
                font-size: 1.75rem;
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                line-height: 1.25;
                position: relative;
                font-size: 2.5rem;

                @include media ('<desktop') {
                    font-size: 1.75rem;
                }

                @include media ('<tablet') {
                    font-size: 1.5rem;
                }

                &:before {
                    content: "→";
                    left: 0;
                    padding-right: 15px;
                    font-size: 1.75rem;
                }
            }
        }
    }
}

section.home--sandbox-simple {
    .container {
        padding: 2rem;
        width: 65%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem;

        @include media ('<=tablet') {
            width: calc(100% - 4rem);
        }

        .slick-slider {
            .slick-dots {
                li {
                    width: 10px;
                }
            }
        }

        .slick-dots li button::before {
          font-size: 12px;
          line-height: 20px;
          width: 20px;
          height: 20px;
          content: '•';
          color: $grey;
          opacity: 0.25;
        }

        .slick-dots li.slick-active button::before {
            color: $blue;
            opacity: 1;
        }



    }

    img {
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

}
