footer {
  padding: 1rem 0;
  height: auto;

  .container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo-container {
      font-size: 2.5rem;
      font-weight: bold;
      text-transform: uppercase;
      color: black;
      .year {
        font-weight: bold;
      }
      .location {
        font-weight: bold;
      }
    }

    .links-container {
      font-size: 2.5rem;
      ul {
        display: flex;
        flex-direction: column;
        li {
          padding: 0 1rem;
          a {
            color: blue;
            font-weight: 100;
            text-transform: capitalize;
            text-decoration: underline;
            &:after {
              content: "→";
              right: 0;
              padding-right: 15px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
