header {
  padding: 0;
  margin: 0;
  background-color: $white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 2rem;
    width: calc(100vw - 4rem);

    @include media ('<desktop') {
      max-width: 720px;
    }

    @include media ('<tablet') {
      padding: 1rem;
      width: calc(100vw - 2rem);
      height: auto;
    }
  }

  .logo-container {
    font-weight: 400;
    font-size: 2.15rem;
    line-height: 1.25;
    color: $blue;
    font-family: "LarsseitRegular";
    width: 100%;
    max-width: 550px;

    @include media ('<tablet') {
      max-width: 275px;
      font-size: 2rem;
    }

    a {
      text-transform: capitalize;
      &:hover {
        text-decoration: none;
      }
    }

    span.logo {
      text-transform: uppercase;
      font-size: 2rem;
      color: $black;
      font-family: "PitchSansBold";
    }

    &.short {
      span.logo {
        color: $blue;
      }
    }

    span.special1 {
      position: relative;
      text-transform: lowercase;
      border-bottom: 1px solid $green;
      color: $green;
      @include media ('<tablet') {
        /* display: none; */
      }
      &:hover {
        .special1-reveal {
          display: block;
        }
      }
    }
    .special1-reveal {
      display: none;
      // border: 2px dotted $green;
      height: 500px;
      width: 425px;
      top: 50px;
      left: 25px;
      position: absolute;
      z-index: 9999;
      img {
        width: 100%;
        height: auto;
      }
    }

    span.special2 {
      position: relative;
      text-transform: lowercase;
      border-bottom: 1px solid $pink;
      color: $pink;
      @include media ('<tablet') {
        /* display: none; */
      }
      &:hover {
        .special2-reveal {
          display: block;
        }
      }
    }
    .special2-reveal {
      display: none;
      height: 500px;
      width: 425px;
      top: 50px;
      left: 25px;
      position: absolute;
      z-index: 9999;
      img {
        width: 100%;
        height: auto;
      }
    }

    span.hide-mobile {
      @include media ('<tablet') {
        /* visibility: hidden; */
      }
      @include media ('>=desktop') {
        visibility: visible;
      }
    }



  }

  .main-menu-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include media ('<tablet') {
      display: none;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      li {
        margin: 0 1.0rem;
        a {
          text-decoration: none;
          font-size: 1.9rem;
          text-transform: capitalize;
          color: $blue;
          font-family: "LarsseitRegular";
          &:hover {
            border-bottom: 3px solid $blue;
          }
        }
      }
    }

    .dark-mode-button {
      position: relative;
      img {
        width: 100%;
        max-width: 30px;
        height: auto;
        padding: 5px 1rem 0;
      }
    }
  }
}
