// "OUTSIDE" logo font face
@font-face {
  font-family: "PitchSansBold";
  src: url("fonts/pitch-sans-bold.woff2") format('woff');
  font-weight: bold;
}

// standard body fonts
@font-face {
  font-family: "LarsseitRegular";
  src: url('fonts/LarsseitRegular/font.woff2') format('woff2'), url('fonts/LarsseitRegular/font.woff') format('woff');
}
@font-face {
  font-family: "LarsseitMedium";
  src: url('fonts/LarsseitMedium/font.woff2') format('woff2'), url('fonts/LarsseitMedium/font.woff') format('woff');
}
@font-face {
  font-family: "LarsseitBold";
  src: url('fonts/LarsseitBold/font.woff2') format('woff2'), url('fonts/LarsseitBold/font.woff') format('woff');
}



body, p, ul, ol, section, div {
  font-family: "LarsseitRegular";
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  color: $blue;
}

a {
  font-family: "LarsseitRegular";
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
  &:hover {
    text-decoration: underline;
    color: blue;
  }
}

p {
  font-family: "LarsseitRegular";
  font-size: 18px;
  color: $blue;
  letter-spacing: 0.75px;
  @include media ('<desktop') {
    font-size: 20px;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    font-family: "LarsseitRegular";
    margin: 0;
    font-size: inherit;
    letter-spacing: 0.75px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LarsseitMedium";
  color: $blue;
}

.section-title {
  color: blue;
  font-size: 2rem;
  text-align: center;
  display: block;
  margin: 1rem auto 2rem;
  font-family: "LarsseitRegular";
}

h1 {
  font-size: 2.333rem;
  margin: 0rem auto;
  line-height: 1.25;
  // color: $colors--text-blue;
  font-weight: 400;

  @include media ('<desktop') {
    font-size: 2.75rem;
  }
  @include media ('<tablet') {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.777rem;
  margin: 0.25rem auto 0.5rem;
  // color: $colors--text-purple;

  @include media ('<desktop') {
    font-size: 2.25rem;
  }
  @include media ('<tablet') {
    font-size: 2.0rem;
  }
}
h3 {
  font-size: 2.25rem;
  margin: 1rem auto;
  font-weight: normal;
  @include media ('<desktop') {
    font-size: 2.0rem;
  }
  @include media ('<tablet') {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: 2.0rem;
  margin: 1rem auto;
  font-weight: bold;
  line-height: 1;
  @include media ('<desktop') {
    font-size: 1.75rem;
  }
  @include media ('<tablet') {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 2.0rem;
  margin: 1rem auto;
  @include media ('<desktop') {
    font-size: 1.75rem;
  }
  @include media ('<tablet') {
    font-size: 1.5rem;
  }
}
h6 {
  font-size: 2.0rem;
  margin: 1rem auto;
  @include media ('<desktop') {
    font-size: 1.75rem;
  }
  @include media ('<tablet') {
    font-size: 1.5rem;
  }
}
