$black: #000000;
$white: #FFFFFF;

$font-body:     "franklin-gothic-urw", sans-serif;;
$font-heading:   "Courier", Georgia, serif;

$font--franklin-gothic: "franklin-gothic-urw", sans-serif;

$color--primary-blue:   #0044FF;
