$font-body:     "franklin-gothic-urw", sans-serif;;
$font-heading:   "Courier", Georgia, serif;

$font--franklin-gothic: "franklin-gothic-urw", sans-serif;

$blue:      #0052f1;
$green:     #00ff90;
$orange:    #f1ae04;
$pink:      #f394b4;

$black:     #231f20;
$grey:      #1f4f28;
$white:     #fafaf4;
